@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.about-col{
  padding: 30px;
  
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Spartan', sans-serif;
}

.brand-logo{
  max-height: 150px;
  margin-left: 20px;
}

h1{
  font-size: 3.5rem;
  border-bottom: 2px solid black;
}
h2{
  border-bottom: 2px solid black;
}

p {
  font-size: 1.5rem;
}

p.smaller{
  font-size: 1rem;
  margin-bottom: 30px;
}

.me-button{
  margin-bottom: 20px;
}