@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  font-family: 'Varela Round', sans-serif;
}

#navbar {
  color: white !important; 
}

.about-col{
  padding: 20px;
  border: solid 1px black;
}
